
<template name="testimonial">
    <ul class="bxslider">
      <li>
    			<div class="cd-author" align="center">
    				<img src="img/avatar-5.jpg" alt="Author image">
    				<ul class="cd-author-info myname-color">
    					<li>Manju</li>
    					<li>CEO, Section</li>
              <li>awsome work by the team .</li>
    				</ul>
    			</div>
        </li>
      <li>
    			<div class="cd-author" align="center">
    				<img src="img/testMo/f2.png" alt="Author image">
    				<ul class="cd-author-info myname-color">
    					<li>Rakshith</li>
    					<li>CEO, SangamOne</li>
              <li>awsome work by the team .</li>
    				</ul>
    			</div>
        </li>
      <li>
    			<div class="cd-author" align="center">
    				<img src="img/avatar-1.jpg" alt="Author image">
    				<ul class="cd-author-info myname-color">
    					<li>Bhavish Aggarwal</li>
    					<li>CEO, Data-Aux</li>
              <li>awsome work by the team .</li>
    				</ul>
    			</div>
        </li>
    </ul>
</template>
