<template name="webDevlopemnt">
	<section id="web-dev">
			<div class="overlay text-center">
				<div class="parallax-container">
						<div style="height:315px" class="parallax"><img src="img/slider/web-dev.jpg"></div>
					</div>
					<div class="section white row s12 padding-10px services-color ">
						<div class=" container col s4" >
							<h2>Areas of Expertise</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
						<div class=" container col s4" >
							<h2>Communication Methods</h2>
							<ul class="custom-bullet">
								<li>Project Management Tools like Target Process</li>
								<li>Email</li>
								<li>Regular Conference Calls</li>
								<li>Change requests are logged in the issue tracker and tracked to completion</li>
								<li>Quick bug fixes and changes that require a couple of hours to process are tracked by email</li>
							</ul>
						</div>
						<div class=" container col s4" >
							<h2>Application Development Process</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
						<div class=" container col s6" >
							<h2>Application Maintenance Process</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
						<div class=" container col s6" >
							<h2>Programming Technologies</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
					</div>
					<div class="parallax-container">
						<div style="height:315px" class="parallax"><img src="img/slider/web-dev.jpg"></div>
					</div>
			</div>


	</section>
</template>




<template name="mobileDevlopment">
	<section id="mobile-dev">
			<div class="overlay text-center">
				<div class="parallax-container">
						<div style="height:315px" class="parallax"><img src="img/slider/mobile-dev.jpg"></div>
					</div>

					<div class="section white row s12 padding-10px services-color ">
						<p class="textalign">Our team of Mobile Developers have experience in designing, developing and delivering top quality applications for iOS and Android SmartPhones. Since 2009, we have been developing diverse native and Web Apps for our global clientele who have given us positive reviews for our continued commitment to developing quality products. We work with all types of companies, right from start-ups trying to make their presence felt to Fortune 500 companies who are looking for business partners to make world class apps.</p>
						<div class=" container col s6" >
							<h2>Areas of Expertise</h2>
								<ul class="custom-bullet">
									<li>Building Optimized, High Performance and Secure mobile apps for Android and IOS</li>
									<li>Platforms</li>
									<li>Creating iOS and Android apps based on Bluetooth Low Energy (BLE) wireless</li>
									<li>communication (iBeacon) and Mobile Apps that use QR code scanning.</li>
									<li>Using SQLite database for developing Apps to store data</li>
									<li>Using Webservices and Data Parsing for building Dynamic Mobile Apps</li>
									<li>Integrating Payment Gateways in Mobile Apps</li>
									<li>Instrumentation Testing and Profiling the App using xcode</li>
									<li>Creating App prototypes</li>
							</ul>
						</div>
						<div style="padding-top: 50px;" class="col s6 container">
							<img src="img/mobiledev.png">
						</div>
					</div>
					<div class="parallax-container">
						<div style="height:315px" class="parallax"><img src="img/slider/mobile-dev.jpg"></div>
					</div>
			</div>


	</section>
</template>


<template name="databaseDevlopment">
	<section id="db-dev">
			<div class="overlay text-center">
				<div class="parallax-container">
						<div style="height:315px" class="parallax"><img src="img/slider/sequrity-dev.jpg"></div>
					</div>
					<div class="section white row s12 padding-10px services-color ">
						<div class="col s6">
							<div class="row  s6">
								<ul class="tabs">
									<li class="tab col s3"><a href="#test1">Test 1</a></li>
									<li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
									<li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
									<li class="tab col s3"><a href="#test4">Test 4</a></li>
								</ul>
							</div>
							<div id="test1" class="row  s6">Test 1</div>
							<div id="test2" class="row s6">Test 2</div>
							<div id="test3" class="row s6">Test 3</div>
							<div id="test4" class="row s6">Test 4</div>
						</div>
					</div>
					<div class="parallax-container">
						<div style="height:315px" class="parallax"><img src="img/slider/sequrity-dev.jpg"></div>
					</div>
			</div>


	</section>
</template>



<template name="softwareTesting">
	<section id="software-testing">
			<div class="overlay text-center">
				<div class="parallax-container">
						<div style="height:315px" class="parallax"><img src="img/slider/web-dev.jpg"></div>
					</div>
					<div class="section white row s12 padding-10px services-color ">
						<div class=" container col s4" >
							<h2>Areas of Expertise</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
						<div class=" container col s4" >
							<h2>Communication Methods</h2>
							<ul class="custom-bullet">
								<li>Project Management Tools like Target Process</li>
								<li>Email</li>
								<li>Regular Conference Calls</li>
								<li>Change requests are logged in the issue tracker and tracked to completion</li>
								<li>Quick bug fixes and changes that require a couple of hours to process are tracked by email</li>
							</ul>
						</div>
						<div class=" container col s4" >
							<h2>Application Development Process</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
						<div class=" container col s6" >
							<h2>Application Maintenance Process</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
						<div class=" container col s6" >
							<h2>Programming Technologies</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
					</div>
					<div class="parallax-container">
						<div style="height:315px" class="parallax"><img src="img/slider/web-dev.jpg"></div>
					</div>
			</div>


	</section>
</template>


<template name="contentManagement">
	<section id="content-management">
			<div class="overlay text-center">
				<div class="parallax-container">
						<div style="height:315px" class="parallax"><img src="img/slider/web-dev.jpg"></div>
					</div>
					<div class="section white row s12 padding-10px services-color ">
						<div class=" container col s4" >
							<h2>Areas of Expertise</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
						<div class=" container col s4" >
							<h2>Communication Methods</h2>
							<ul class="custom-bullet">
								<li>Project Management Tools like Target Process</li>
								<li>Email</li>
								<li>Regular Conference Calls</li>
								<li>Change requests are logged in the issue tracker and tracked to completion</li>
								<li>Quick bug fixes and changes that require a couple of hours to process are tracked by email</li>
							</ul>
						</div>
						<div class=" container col s4" >
							<h2>Application Development Process</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
						<div class=" container col s6" >
							<h2>Application Maintenance Process</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
						<div class=" container col s6" >
							<h2>Programming Technologies</h2>
								<ul class="custom-bullet">
									<li>Web Application Services</li>
									<li>XML Interfaces</li>
									<li>Development of Dynamic DB Driven Web applications</li>
									<li>Application Maintenance (with almost no documentation</li>
									<li>Building Secure (hacker-safe) and High Performance Web Applications</li>
									<li>Ability to get up to speed with new technologies in the quickest possible time</li>
									<li>Application Maintenance (with almost no documentation) – ability to reverse engineer</li>
								</ul>

						</div>
					</div>
					<div class="parallax-container">
						<div style="height:315px" class="parallax"><img src="img/slider/web-dev.jpg"></div>
					</div>
			</div>


	</section>
</template>
