<head>
  <title>Talks</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<template name="layoutTemplate">
  <div class="navbar navbar-inverse navbar-fixed-top move-me" id="menu">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="#"><img class="logo-custom" src="/img/logo180-50.png" alt=""  /></a>
             </div>
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav navbar-right">
                     <li><a  href="/">Home</a></li>
                     <!-- <li><a href="/#product">Product</a></li> -->
                     <li><a href="/blog">Events</a></li>
                     <li><a href="/paricipate">Attendend/Paricipate</a></li>
                     <li><a href="/aboutus">About us</a></li>
                 </ul>
             </div>

         </div>
     </div>
</template>

<template name="blogTemplate">
  {{>layoutTemplate}}
  <br>
  <br>
  <br>
  <div class="row viewport">
    <h1>Cultural</h1>
    {{#each video in videos.Cultural}}
    <div id="{{video.videoId}}" >
    </div>
    {{/each}}
  </div>
  <div class="row viewport">
    <h1>Enginericng</h1>
    {{#each video in videos.Enginericng}}
    <div id="{{video.videoId}}" >
    </div>
    {{/each}}
  </div>
  <div class="row viewport">
    <h1>Medical</h1>
    {{#each video in videos.Medical}}
    <div id="{{video.videoId}}" >
    </div>
    {{/each}}
  </div>
  <div class="row viewport">
    <h1>Technology</h1>
    {{#each video in videos.Technology}}
    <div id="{{video.videoId}}" >
    </div>
    {{/each}}
  </div>
  <div class="row viewport">
    <h1>Law</h1>
    {{#each video in videos.Law}}
    <div id="{{video.videoId}}" >
    </div>
    {{/each}}
  </div>
  {{> footer}}
</template>

<template name="paricipateform">
  {{>layoutTemplate}}
  <div class="container">
      <form class="well form-horizontal"  id="contact_form">
  <fieldset>

  <!-- Form Name -->
  <legend>Contact Us Today!</legend>


  <!-- Text input-->
<div class="formtemp">

    <div class="form-group">
      <label class="col-md-4 control-label">First Name</label>
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <!-- Text input-->


    <!-- Text input-->
           <div class="form-group">
      <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
        </div>
      </div>
    </div>


    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label">Phone #</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
      <input name="phone" placeholder="" class="form-control" type="text">
        </div>
      </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label">Address</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
      <input name="address" placeholder="Address" class="form-control" type="text">
        </div>
      </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label">City</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
      <input name="city" placeholder="city" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <!-- Select Basic -->

    <div class="form-group">
      <label class="col-md-4 control-label">State</label>
        <div class="col-md-4 selectContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <select name="state" class="form-control selectpicker" >
          <option>Attend</option>
          <option>Paricipate</option>
        </select>
      </div>
    </div>
    </div>
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <button type="submit" class="btn btn-warning shootEmail" >Send <span class="glyphicon glyphicon-send"></span></button>
      </div>
    </div>
</div>
    <div style="display:none" class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>
  </fieldset>
  </form>
  </div>

  {{> footer}}

</template>
<template name="aboutUs">
  {{>layoutTemplate}}
  <section>
		<!--==== Banner ====-->
		<div class="grid about-us-widget">
			<div style="width:900px;">
			<!-- <h1 style="margin-top:0">techno</h1>
			<p>NestAway is a <strike>concept</strike>. It's a <strike>solution</strike>. It's fixing something that’s grossly <strike>	wrong</strike>. Well, It's all the three. it's a new concept for owners. a solution for tenants &amp; its fixing the youth housing crisis in cities.
			</p>
			<h2>It's a concept for owners.</h2>
			<p>
				Absolute no hassle in renting your house &amp; earning more money from the same house at the same time. Sounds crazy ?
				<br><a href="https://www.nestaway.com/welcome/owner">Learn how</a>
			</p> -->

			<h2>It's a solution for tenants.</h2>
					<p>If you are single &amp; want to live in a fully furnished 3BHK in a great locality with like minded individuals, you are in the right place. Just walk in with your suitcase. <br><a href="https://www.nestaway.com/">Learn how</a></p>

			<h2>But above all, It's fixing a wrong - “where do our youngsters live".</h2>

			<p>Remember the excitement you felt running back home as soon as the school bell rang. Remember the world you created in 	your room, filled with all those games and records you could just about afford with your pocket money as a pimpled and powdered teen. Remember how you dreamt of building YOUR OWN NEST when you grew up and got a job - a cozy corner to read, a warm bath to soothe away the day’s stress, a kitchen in which to experiment even as your buddies play unwilling guinea pigs….
			</p>

			<p>But just when the dreams start getting dreamier, and you reach a stage in life when you have your own money, and a chance to have your own pad, this stupid thing called reality has to intrude and play spoilsport. </p>

					<p>We were a bunch of friends who moved to Bangalore for work, and dreamt of a 'nest away from home’ that we could call our own.</p>

					<p>The city's greeting was rather lukewarm. Surprises all around - zillion calls but no closure, that suspicion in the eyes of owners bordering hate, broker coercions, discriminating society rules. If you hail from a small town in India, you feel as if you have landed on a different country altogether.</p>

					<p>But, believe it or not, going through this grind was preferable to those cellular jails disguised as PGs. PGs are God’s own punishment for a crime you’re expected to commit in the near future &amp; hence the advance imprisonment. ‘paying guest’ accommodation certainly ensured we were paying in ways we didn’t expect.</p>

					<p>Getting a job suddenly seemed like a trivial affair compared to getting a good house. It was harsher if you were a single girl.</p>

					<p>Little wonder, then, that our relationships with our homes have changed beyond belief. Today, a bachelor is the new untouchable, and a PG is just a place to crash in after you’ve burnt the midnight oil behind your desk, or at the mall, or at the movies…in short any excuse to keep you away from home as long as possible. You just can’t find a space you can call your own, a communal space where you can invite friends, cook up a storm, and celebrate life. </p>

					<p>We seemed to have given up altogether on making a warm, homely nest for ourselves. Even if we can afford it!</p>

					<p>That’s why we created NESTAWAY. </p>

					<p>Because we believe Bachelors (whether men or women) are the dynamos of the nation and deserve better.</p>

					<p>Because we believe that every Bachelor has the right to live well, in an inclusive society.</p>

					<p>Because we believe Bachelor homes can be warm, secure, classy and affordable.</p>

					<p>Because we believe that no City should be a stranger to a Bachelor.</p>

					<p>Because we owe it to them - for their future, for our future.</p>

					<p>If you do feel the same, please drop us a line at <a href="mailto:info@nestaway.com">info@nestaway.com</a> &amp; lets fight it together.
					</p>
			<br><br>
			</div>
		</div>
	</section>

  {{> footer}}

</template>
<template name="imageSlider">
  <section class="header-sec" id="home" >
        <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
            <!-- Loading Screen -->
            <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
            </div>
            <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 356px; overflow: hidden;">
                <div data-p="144.50" style="display: none;">
                  <div class="carousel-caption light">
                   <a href="https://www.facebook.com/" class="btn btn-primary btn-white">Know More</a>
                 </div>
                    <img data-u="image" src="img/01.jpg" />
                    <img data-u="thumb" src="img/thumb-01.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/02.jpg" />
                    <img data-u="thumb" src="img/thumb-02.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/03.jpg" />
                    <img data-u="thumb" src="img/thumb-03.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/04.jpg" />
                    <img data-u="thumb" src="img/thumb-04.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/05.jpg" />
                    <img data-u="thumb" src="img/thumb-05.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/06.jpg" />
                    <img data-u="thumb" src="img/thumb-06.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/07.jpg" />
                    <img data-u="thumb" src="img/thumb-07.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/08.jpg" />
                    <img data-u="thumb" src="img/thumb-08.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/09.jpg" />
                    <img data-u="thumb" src="img/thumb-09.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/10.jpg" />
                    <img data-u="thumb" src="img/thumb-10.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/11.jpg" />
                    <img data-u="thumb" src="img/thumb-11.jpg" />
                </div>
                <div data-p="144.50" style="display: none;">
                    <img data-u="image" src="img/12.jpg" />
                    <img data-u="thumb" src="img/thumb-12.jpg" />
                </div>
                <a data-u="ad" href="http://www.jssor.com" style="display:none">Responsive Slider</a>
            </div>
            <!-- Thumbnail Navigator -->
            <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
                <!-- Thumbnail Item Skin Begin -->
                <div data-u="slides" style="cursor: default;">
                    <div data-u="prototype" class="p">
                        <div class="w">
                            <div data-u="thumbnailtemplate" class="t"></div>
                        </div>
                        <div class="c"></div>
                    </div>
                </div>
                <!-- Thumbnail Item Skin End -->
            </div>
            <!-- Arrow Navigator -->
            <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
            <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
        </div>

  </section>
</template>

<template name="recentEvents">
  <section class="features" id="features">
    <div class="hide-scroll">
  <div class="viewport">
      <div class="container">
        Resent Events <i class="material-icons">event</i>
        <div align="center">
          {{> youtube}}
        </div>
      </div>
  </div>
  </div>
  </section>
</template>

<template name="testimonial">
  <section class="testi-sec" id="testimonial">
    <ul class="bxslider">
      <!-- TODO: fix me incree height  -->
      <li>
    			<div class="cd-author" align="center">
    				<img src="img/avatar-1.jpg" alt="Author image">
    				<ul class="cd-author-info">
    					<li>MyName</li>
    					<li>CEO, AmberCreative</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    				</ul>
    			</div>
        </li>
      <li>
    			<div class="cd-author" align="center">
    				<img src="img/avatar-1.jpg" alt="Author image">
    				<ul class="cd-author-info">
    					<li>MyName</li>
    					<li>CEO, AmberCreative</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    				</ul>
    			</div>
        </li>
      <li>
    			<div class="cd-author" align="center">
    				<img src="img/avatar-1.jpg" alt="Author image">
    				<ul class="cd-author-info">
    					<li>MyName</li>
    					<li>CEO, AmberCreative</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    				</ul>
    			</div>
        </li>
    </ul>
    </section>
</template>

<template name="footer">
  <div class="footdiv grey-text text-lighten-3">
    <div class="row without-margin-bottom top-row">
      <div class="col s8">
				<div class="row">
					<div class="col s4">
						<ul class="footer-ul">
							<li>&nbsp;
							</li>
							<li>
								<a href="{{$.DICT.homePage.footer.careers.link}}" class="tooltipped hover-dark" data-tooltip="{{$.DICT.homePage.footer.careers.tooltip}}">
									{{$.DICT.homePage.footer.careers.text}}
								</a>
							</li>
		        </ul>
					</div>
				</div>
      </div>
      <div class="col s4 relative full-height">
				<a href="https://www.google.co.in/maps/place/Hebbal,+Bengaluru,+Karnataka+560024/@13.0346215,77.5806636,14z/data=!3m1!4b1!4m2!3m1!1s0x3bae17a295d80a47:0x1a3ccbf328b14759" target="_blank">
	        <div class="address hover-dark">
					Data-Aux	Technologies Pvt. Ltd. <br>
             #57 7th Main Bhavani <br>
             HBCS BSK 3rd stage next to Kotak Mahindra Bank<br>
             Near Devegowda Paetrol Bunk<br>
             Outer Ring Road Bangalore 560085<br>
	        </div>
				</a>
      </div>
    </div>
		<div class="white-text footer-copyright">
			© 2015-2016 Data-Aux Technologies Pvt. Ltd., All rights reserved.
		</div>
  </div>
</template>

<!-- <template name="homeTemplate">
        {{> layoutTemplate}}
        {{> imageSlider}}
        {{> recentEvents}}
        {{> testimonial}}
        <!-- {{> productDesc}} -->
        <!-- {{> footer}} -->
<template name="homeTemplate">
	<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    <title>Landing Page Template</title>
	    <!-- BOOTSTRAP CORE STYLE CSS -->
	    <link href="assets/css/bootstrap.css" rel="stylesheet" />
	    <!-- FONT AWESOME CSS -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
	     <!-- STYLE SWITCHER  CSS -->
	<link href="assets/css/styleSwitcher.css" rel="stylesheet" />
	    <!-- CUSTOM STYLE CSS -->
	    <link href="assets/css/style.css" rel="stylesheet" />
	     <!--GREEN STYLE VERSION IS BY DEFAULT, USE ANY ONE STYLESHEET FROM TWO STYLESHEETS (green or red) HERE-->
	     <link href="assets/css/themes/green.css" id="mainCSS" rel="stylesheet" />
	  <!-- Google	Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
	</head>
<body>
		<!--END STYLE SWITCHER-->
		<div class="navbar navbar-inverse navbar-fixed-top move-me" id="menu">
			 <div class="container">
					 <div class="navbar-header">
							 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									 <span class="icon-bar"></span>
									 <span class="icon-bar"></span>
									 <span class="icon-bar"></span>
							 </button>
							 <a class="navbar-brand" href="#"><img class="logo-custom" src="/img/logo180-50.png" alt=""  /></a>
					 </div>
					 <div class="navbar-collapse collapse">
							 <ul class="nav navbar-nav navbar-right">
									 <li><a  href="/">Home</a></li>
									 <!-- <li><a href="/#product">Product</a></li> -->
									 <li><a href="/blog">Events</a></li>
									 <li><a href="/paricipate">Attendend/Paricipate</a></li>
									 <li><a href="/aboutus">About us</a></li>
							 </ul>
					 </div>

			 </div>
	 </div>
			<!--NAVBAR SECTION END-->
			 <section class="header-sec" id="home" >
					  {{> imageSlider}}

			 </section>
			 <!--HEADER SECTION END-->
	 		<section class="features" id="features">
  			{{> recentEvents}}
		 </section>
		<!--FEATURES SECTION END-->
		 <section class="testi-sec" >
			{{> testimonial}}
			 </section>
			 <!--TESTIMONIAL SECTION END-->
			<section class="developers" id="developers" >
			{{> footer}}
		 </section>

</body>
</template>
